.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,7,20,0.7),rgba(4,7,20,0.7)),url("images/banner.png");
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav img{
    margin-left: 20px;
}
nav ul li{
    margin-right:40px;
    padding: 5px;
    color:#fff;
}
nav ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid brown ;

}
.option{
    display:none;
}
@media(max-width:700px)
{
    nav ul{
        display: none;
    }
    nav i{
        display: block;
    }
    .option{
        width:30px;
        margin-top:0px;
        display: block;
    }
}
.logo{
    margin-top: 20px;
    max-width: 150px;
}
.sidebarMenu img{
    width: 20px;
    margin:5px;
}
.sidebarMenuInner{
    list-style: none;
    
}
.sidebarMenuInner li{
    margin: 5px;
    
}
.sidebarMenu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 99;
    right:-39vh;
    font-weight: 900;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.slideleft{
    transform: translateX(-250px);
    transition: transform 100ms ease-in-out;
    transition: all 0.6s;
}
.slideright{
    transform: translateX(250px);
    transition: transform 100ms ease-in-out;
    transition: all 0.6s;
}